
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Kurumsal Admin Panel Girişi</title>


    <!-- Bootstrap CSS -->
    <link href="/Content/AdminLayout/css/bootstrap.min.css" rel="stylesheet">
    <!-- bootstrap theme -->
    <link href="/Content/AdminLayout/css/bootstrap-theme.css" rel="stylesheet">
    <!--external css-->
    <!-- font icon -->
    <link href="/Content/AdminLayout/css/elegant-icons-style.css" rel="stylesheet" />
    <link href="/Content/AdminLayout/css/font-awesome.css" rel="stylesheet" />
    <!-- Custom styles -->
    <link href="/Content/AdminLayout/css/style.css" rel="stylesheet">
    <link href="/Content/AdminLayout/css/style-responsive.css" rel="stylesheet" />
</head>
<body>
    <div>

        <form class="login-form" method="post" action="/Admin/Login/">
            <div class="login-wrap">
                @if (Session["adminid"] == null)
                {
                    <p class="alert">@ViewBag.Uyari</p>
                }

                <p class="login-img"><i class="icon_lock_alt"></i></p>
                <div class="input-group">
                    <span class="input-group-addon"><i class="icon_profile"></i></span>
                    <input type="text" class="form-control" name="Eposta" placeholder="E posta" autofocus>
                </div>
                <div class="input-group">
                    <span class="input-group-addon"><i class="icon_key_alt"></i></span>
                    <input type="password" name="Sifre" class="form-control" placeholder="Şifre">
                </div>

                <button class="btn btn-primary btn-lg btn-block" type="submit">Giriş Yap</button>
                <a href="/Admin/SifremiUnuttum/" class="btn btn-primary btn-lg btn-block" >Şifremi Unuttum</a>

            </div>
        </form>
    </div>
</body>
</html>
