

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SifremiUnuttum - Admin</title>



    <!-- Bootstrap CSS -->
    <link href="/Content/AdminLayout/css/bootstrap.min.css" rel="stylesheet">
    <!-- bootstrap theme -->
    <link href="/Content/AdminLayout/css/bootstrap-theme.css" rel="stylesheet">
    <!--external css-->
    <!-- font icon -->
    <link href="/Content/AdminLayout/css/elegant-icons-style.css" rel="stylesheet" />
    <link href="/Content/AdminLayout/css/font-awesome.css" rel="stylesheet" />
    <!-- Custom styles -->
    <link href="/Content/AdminLayout/css/style.css" rel="stylesheet">
    
</head>
<body>

    <div>
        <p class="alert alert-info">@ViewBag.Uyari</p>
        <form action="/Admin/SifremiUnuttum/" method="post">
            <div class="form-horizontal container">

                <hr />

                <div class="form-group">

                    <div class="col-md-10">
                        <input type="email" class="form-control" name="eposta" required placeholder="E posta adresiniz" />

                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Şifremi Mail Olarak Gönder" class="btn btn-default" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <a href="/yonetimpaneli/giris/"> Yönetim Paneline Giriş</a>
                    </div>
                </div>
            </div>

        </form>


    </div>
    
  
    

</body>
</html>
