@model KurumsalWeb.Models.Model.Hakkimizda
@{
    ViewBag.Title = "Hakkımızda";
    Layout = "~/Views/Shared/_SiteLayout.cshtml";
}
<div class="container">
    <div class="col-md-12">
        <h4>Kurumsal Web Hakkında</h4>
        <img src="~/Content/SiteLayout/img/dummies/dummy-1.jpg" alt="" class="align-center img-box img-responsive" />
        <p>
            @Html.Raw(Model.Aciklama)
        </p>
    </div>
</div>


