@model IEnumerable<KurumsalWeb.Models.Model.Hizmet>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Hizmetler</h2>
<a class="btn btn-default" href="/Hizmet/Create/">Yeni Ekle</a>
<table class="table table-striped">
    <thead>
        <tr>
            <th>#</th>
            <th>Başlık</th>
            <th>Açıklama</th>
            <th>Resim URL</th>
            <th>İşlemler</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>@item.HizmetId</td>
            <td>@item.Baslik</td>
            <td>@Html.Raw(item.Aciklama)</td>
            <td><img width="100" height="100" src="@item.ResimURL" /></td>
            <td><a href="/Hizmet/Edit/@item.HizmetId">Düzenle</a> | <a href="/Hizmet/Delete/@item.HizmetId">Sil</a></td>
        </tr>
        }



    </tbody>
</table>
