
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<script type="text/javascript">
    CKEDITOR.replace('editor')
</script>

<h2>Blog Kayıt Ekle</h2>


<div class="form">
    @*<form class="form-validate form-horizontal" id="feedback_form" method="post" action="/Blog/Create/" enctype="multipart/form-data">*@

    @using (Html.BeginForm("Create","Blog",FormMethod.Post,new { enctype="multipart/form-data"}))
    {
        @Html.AntiForgeryToken();
        <div class="form-group ">
            <label for="cname" class="control-label col-lg-2">Başlık <span class="required">*</span></label>
            <div class="col-lg-10">
                <input class="form-control" id="Baslik" name="Baslik" minlength="5" type="text" required />
            </div>
        </div>
        <div class="form-group ">
            <label for="cemail" class="control-label col-lg-2">Kategori <span class="required">*</span></label>
            <div class="col-lg-10">
                @Html.DropDownList("KategoriId", null, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group ">
            <label for="cemail" class="control-label col-lg-2">İcerik <span class="required">*</span></label>
            <div class="col-lg-10">
                <textarea class="ckeditor" name="Icerik"></textarea>
            </div>
        </div>
        <div class="form-group ">
            <label for="curl" class="control-label col-lg-2">Resim </label>
            <div class="col-lg-10">
                <input required type="file" class="form-control " name="ResimURL" accept=".jpg,.png.,.jpeg" />
            </div>
        </div>

        <div class="form-group">
            <div class="col-lg-offset-2 col-lg-10">
                <button class="btn btn-primary" type="submit">Ekle</button>
                <button class="btn btn-default" type="button"><a href="/Blog/Index">İptal</a></button>
            </div>
        </div>
    }

    @*</form>*@
</div>
